pymongo~=3.12.0
PyQt5~=5.15.4
Flask~=3
mongoengine~=0.23.1
flask_paginate
flask_pymongo
flask_dropzone
flask_uploads
waitress~=2.0.0
pyspf~=2.0.14
requests~=2.26.0
pyPodcastParser~=2.0.0
art~=5.4
eyed3~=0.9.6
Werkzeug