{% extends "base_template.html" %}

{% set title = 'home' %}
{% set page_header = 'home page' %}

{% block contents %}
    <br/>site routes:
    <br/><a href='/gal'>/gal</a>
    <br/><a href='/test'>/test</a>
    <br/><a href='/test2/Sigal Lifshitz'>/test2/Sigal Lifshitz</a>
    <br/><a href='/upload'>/upload</a>
    <br/><a href='/jquery'>/jquery</a>
    <br/><a href='/mongodb/Gal'>/mongdb/Gal</a>
    <br/><a href='/table'>/table</a>
    <br/><a href='/mp3edit'>/mp3edit</a>
    <br/><a href='/site_map'>/site_map</a>
{% endblock contents %}