{% extends "base_template.html" %}

{% set title = 'list records' %}
{% set page_header = 'list records' %}

{% block head_contents %}
    <script>
        {#function filter_submit(page_number, ev) {#}

        function filter_submit(ev) {
            $('#result').text('trying to fetch results for search_string=' + $('#search_string').val());
            ev.preventDefault();
            $.ajax({
                    type: 'GET',
                    url: {{ url_for("get_records")|tojson }},
                    {#data: $(this).serialize()#}
                    data: {
                        "search_string": $('#search_string').val(),
                        {#"page_number": page_number.toString(),#}
                    },
                    {#data: $('#search_string').val().serialize(),#}
                    {#.serialize() - is this a must??#}
                }
            )
                .done(function (data) {
                    {#alert('ajax ok');#}
                    $('#results_list').html('<br/>search results:<br/>' + data);
                    showText("OK")
                })
                .fail(function () {
                    $('#results_list').html('<br/>ajax failed:<br/>');
                    {#alert('ajax error');#}
                    showText('failed');
                })
                .always(function () {
                    {#alert("displayed anyway");#}
                    //showText('displayed anyway');
                })
        }

        function display_results() {
            $('#results').text('//value returned from api');
        }

        function showText(data) {
            {#$('#result').text(data.result);#}
            $('#result').text(data);
        }

    </script>
{% endblock %}

{% block contents %}

    <form action="" method="POST">
        <input id="search_string" name="search_string" type="text"/>
        <input id='submit' type='submit' value="filter"><br/>
    </form>
    {#        <br/><span> Result: <span id="result"></span></span><br/>#}
    <br/>Page {{ page_number }} of {{ number_of_pages }}

    <div id="results_list" name='results_list'>
        {% include 'list_records_results_div.html' %}
    </div>

    <div id="pagination">
        {% if number_of_pages > 1 %}
            <br/><br/>
            {% if page_number > 1 %}
                <a href="{{ url_for('list_records', method='POST', page_number=page_number-1, page_size=page_size) }}">Previous</a>
            {% endif %}
            {% for page in range(1,number_of_pages+1) %}
                <a href="{{ url_for('list_records', method='POST', page_number=page, page_size=page_size) }}">{{ page }}</a>
            {% endfor %}
            {% if page_number < number_of_pages %}
                <a id="next"
                   href="{{ url_for('list_records', method='POST', page_number=1+page_number, page_size=page_size) }}">Next</a>
                <em id="next_record" name="next_record">NEXT RECORD</em>
            {% endif %}
        {% endif %}
    </div>
{% endblock contents %}

{% block end %}
    <script>
        {#use either html form submit or javascript + ajax / jquery#}
        $('#submit').on('click', filter_submit;

        $(document).on('click', '#next_record', function () {
            {#alert("test");#}
            filter_submit;
        });

        {#$('#next_record').onclick(function () {#}
        {#    alert("test");#}
        {#    filter_submit(2);#}
        {#})
        #}
    </script>

{% endblock %}
