{% extends "base_template.html" %}

{% set title = 'list records' %}
{% set page_header = 'list records' %}

{% block head_contents %}
    <script>
        function filter_submit(ev) {
            $('#result').text('trying to fetch results for search_string=' + $('#search_string').val());
            ev.preventDefault();
            $.ajax({
                    type: 'POST',
                    url: {{ url_for("get_records")|tojson }},
                    {#data: $(this).serialize()#}
                    data: '{"search_string": "gal"}',
                    {#data: $('#search_string').val().serialize(),#}
                    {#.serialize() - is this a must??#}
                    success: $('#results_list').html('ajax succeed!!'),
                    fail: $('#results_list').html('ajax failed!!')
                }
            )
                .done(function (data) {
                    {#alert('ajax ok');#}
                    $('#results_list').html('ajax succeed!! data received should enter here' + data);
                    showText("OK")
                })
                .fail(function () {
                    {#alert('ajax error');#}
                    showText('failed');
                })
                .always(function () {
                    {#alert("displayed anyway");#}
                    //showText('displayed anyway');
                })


        }

        function display_results() {
            $('#results').text('//value returned from api');
        }

        function showText(data) {
            {#$('#result').text(data.result);#}
            $('#result').text(data);
        }

    </script>
{% endblock %}

{% block contents %}
    {#    <form action="" method="POST">#}
    <input id="search_string" name="search_string" type="text"/>
    <input id='submit' type='submit' value="filter"><br/>
    <br/><span> Result: <span id="result"></span></span><br/>
    <div id="results_list" name='results_list'>
        {% include 'list_records_results_div.html' %}

        {#        {% for document in cursor %}#}
        {#            {% set doc_id = document['_id'] %}#}
        {#            <br/>#}
        {#            {{ document['_id'] }} - {{ document['name']['first'] }} {{ document['name']['last'] }}#}
        {#            <a href="/edit_record/{{ doc_id }}" id="edit_{{ doc_id }}">Edit</a>#}
        {#            <span id="edit2">Edit2</span>#}
        {#        {% endfor %}#}

    </div>
    {#    </form>#}
{% endblock contents %}

{% block end %}
    <script>
        {#user either html form submit or javascript + ajax / jquery#}
        $('#submit').on('click', filter_submit);
    </script>

{% endblock %}
