{% macro table_header(header_data, header_classes) %}
    <thead class="{{ header_classes }}">
    <tr>
        {% for header in header_data %}
            <th>{{ header }}</th>
        {% endfor %}
    </tr>
    </thead>
{% endmacro %}


{% macro table_rows(rows_data, row_classes, cell_classes, col_classes, cols_contenteditable, rows_contenteditable, table_id) %}
    {% for row in rows_data %}
        {% set row_number = loop.index %}
        <tr class="{{ row_classes }}">
            {% for cell in row %}
                {% set col_number = loop.index %}
                {% if (row_number in rows_contenteditable) or (col_number in cols_contenteditable) %}
                    {% set content_editable = 'contenteditable=true' %}
                {% else %}
                    {% set content_editable = '' %}
                {% endif %}
                <td id="{{ table_id + '-R' + row_number|string + 'C' + col_number|string }}" {{ content_editable }}
                    class="{{ cell_classes }} {{ col_classes[col_number] }}">{{ cell }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
{% endmacro %}


{% macro table_create(header_data, rows_data, table_classes, header_classes, row_classes, cell_classes, col_classes, cols_contenteditable, rows_contenteditable, table_id='') %}
    {% set table_id = 'table' if table_id == '' %}
    <table class="table {{ table_classes }}" id="{{ table_id }}">
        {{ table_header(header_data, header_classes) }}
        {{ table_rows(rows_data, row_classes, cell_classes, col_classes, cols_contenteditable, rows_contenteditable, table_id) }}
    </table>
{% endmacro %}

{#https://stackoverflow.com/questions/25373154/how-to-iterate-through-a-list-of-dictionaries-in-jinja-template#}