{% macro table_header(header_data, header_classes) %}
    <thead>
    <tr>
        {% for header in header_data %}
            <th>{{ header }}</th>
        {% endfor %}
    </tr>
    </thead>
{% endmacro %}


{% macro table_rows(rows_data, row_classes, cell_classes, col_classes) %}
    {% for row in rows_data %}
        <tr class="{{ row_classes }}">
            {% for cell in row %}
                {% set col_number = loop.index %}
                <td class="{{ cell_classes }} {{ col_classes[col_number] }}">{{ cell }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
{% endmacro %}


{% macro table_create(header_data, rows_data, table_classes, header_classes, row_classes, cell_classes, col_classes) %}
    <table class="table {{ table_classes }}">
        {{ table_header(header_data, header_classes) }}
        {{ table_rows(rows_data, row_classes, cell_classes,col_classes) }}
    </table>
{% endmacro %}